@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lauren Stolk's Bangin Website";
}

<header>
    <h1>Lauren Stolk</h1>
</header>

<img id="myPhoto" src="img/MeWithDog.png" width="300px" />


<p>
    In IS413, I hope to be a better problem solver when it comes to coding. I want to become more familiar with
    languages. I also want to make new friends and learn more than just IS concepts from our professors. I always
    look forward to the Spirit that I feel when I hear my teachers bear testimony in class.
</p>

<ol>
    <li>Cybersecurity Consultant</li>
    <li>Project Manager/Scrum Master</li>
    <li>Back-End Software Developer</li>
</ol>

